body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
h1 {
  border: 1px solid;
}
.container {
  border: 1px solid white;
  padding: 20px;
  margin: 30px;
  background-color: green;
}

.container2 {
  border: 1px solid;
  width: 880px;
  height: 600px;
  padding: 20px;
  overflow: hidden;
  position: relative;
}
.container2 div {
  border: 1px solid purple;
  width: 150px;
  height: 150px;
  padding: 10px;
  margin: 25px;
  position: absolute;
}
.container3 {
  border: 1px solid;
  width: 200px;
  height: 200px;
  padding: 20px;
}
